APP_NAME="WFRS"
APP_VERSION="0.1"

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE_MB=100
FILE_CHUNK_SIZE=512000

# Database configuration
MONGODB_URI="mongodb+srv://mini_rag_db:PcoZP992Oygrmqte@cluster0.zvxa6w7.mongodb.net/"
MONGODB_URI_LOCAL="mongodb://localhost:27017"
MONGODB_URI_DOCKER_IMAGE="mongodb://mongo:27017"
MONGODB_DB_NAME="mini_rag_db"
MONGODB_DB_PASSWORD="PcoZP992Oygrmqte"

# LLM Backend configuration (Cohere or OpenAI)
GENERATION_BACKEND="Cohere"
EMBEDDINGS_BACKEND="Cohere"

# Cohere API configuration (free tier)
COHERE_API_KEY="ZuSwCZcLFUKwWcLYswvAXhTroMyUTienOIyj2cJ8"

# Cohere Models
GENERATION_MODEL="command-r"
EMBEDDING_MODEL="embed-multilingual-v3.0"
EMBEDDING_MODEL_SIZE=1024

# OpenAI API (not used when using Cohere)
OPENAI_API_KEY=""
OPENAI_API_BASE=""

MAX_CHARACTERS=2048
MAX_TOKENS=250
TEMPERATURE=0.1

# Vector database configuration (local)
QDRANT_API_KEY=""
QDRANT_API_URL=""
VECTOR_DB_NAME="QDrant"
VECTOR_DB_PATH="./src/assets/qdrant_data"
VECTOR_DISTANCE_METRIC="cosine"